.selectdiv:after {
  content: '\f078';
  font: normal normal normal 12px/1 FontAwesome;
  color: #495057;
  right: -410px;
  top: -29px;
  background-repeat: none !important;
  position: relative;
  pointer-events: none;
  font-weight: "200px"
}

/* IE11 hide native button (thanks Matt!) */
select::-ms-expand {
  display: none;
}

.selectdiv select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  display: block;
  width: 100%;
  height: calc(1.5em + 0.75rem + 2px);
  padding: 0.375rem 0.75rem;
  font-size: 16px;
  line-height: 1.75;
  color: #495057;
  background-color: rgb(249, 250, 255);
  background-image: none;
  border: 1px solid #ced4da;
  -ms-word-break: normal;
  word-break: normal;
}
